<%- include ("./partials/header") %>
<div class="container my-5">
    <p><strong>How do I upload files?</strong></p>
    <p>Currently we do not allow users to upload files to the server. We have a very limited server space.
        One of the ways you can share files is by sharing links to the files that you have saved in Google Drive. After you have uploded the file to Google Drive you can Right click on it and click on 'Get Sharable Link' option.
        <br>
        <img src="/img/guide1.png" alt="guide image 1" class="faqimg">
        <br>
        Make sure that 'Link Sharing' toggle is turned on and it says 'Anyone with the link can' <strong>view</strong>
        <br>
        <img src="/img/guide2.png" alt="guide img 2" class="faqimg">
    </p>
</div>
<%- include ("./partials/footer") %> 