<%- include ("./partials/header") %>
<title>KIIT ASK</title>
  <body>
    <div class="row">
      <div class="col-md-6 py-4 order-md-12 " style=" text-align: center;">
        <div class="container">
        <img src="https://images.unsplash.com/photo-1571038520780-c9a190208386?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"  class="shadow-lg" alt="" style="width: 40vw; height: 40vw; border-radius: 50%;"> 
      </div>
      </div>
      <div class="col-md-6 m-auto p-md-5 order-md-1">
        <div class="container">
        <h1 class="display-1" style="font-size: 8vw;">Welcome to KIIT ASK!</h1>
        <p style="font-size: 3vb;">A place to ask your question, doubts or share your opinions. The unofficial home of KIIT on the internet.</p>
        <a href="/register" class="btn btn-outline-primary btn-lg m-2">Register</a>
        <a href="/posts" class="btn btn-outline-secondary btn-lg m-2">View Posts</a>
        </div>
      </div>
      </div>
    <%- include ("./partials/footer") %> 
  </body>
</html>